html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", san-serif;
	background-color: rgb(19, 20, 20);
	color: #36d5f8;
	background      : radial-gradient(rgb(33, 36, 36) 1px, rgb(19, 20, 20) 2px);
  background-size : 30px 30px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#app{
  height: 100%;
}